body {
    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1rem;
    text-align: center;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
}

nav {
    background-color: chocolate;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: white;
}

main > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

section {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

article {
    flex: 1;
    background-color:rgb(146, 175, 95);
    border-radius: 10px;
    padding: 1rem;
}

article > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    height: 2rem;
}
