h1 {
    font-size: 3rem;
    overflow: hidden;
    position: relative;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

body {
    background-color: #EDEFEE;
    font-family: serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header img {
    height: 10rem;
}

nav {
    background-color: chocolate;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

article {
    flex: 1;
    background-color:rgb(146, 175, 95);
    border-radius: 10px;
    padding: 1rem;
}

#fly_in {
    position: absolute;
    width: 100%;
    text-align: left;
    animation: fly_in 2s ease-in;
}

@keyframes fly_in {
    0% { transform: translateX(100%) skewX(-30deg); }
    60% { transform: translateX(0%) skewX(0deg); }
    70% { transform: translateX(0%) skewX(30deg); }
    70% { transform: translateX(0%) skewX(30deg) scaleY(1.25); }
    100% { transform: translateX(0%) skewX(0deg) scaleY(1); }
}

#promotion article {
    background-image: url("assets/linguini.jpg");
    background-size: cover;
}

#about article {
    background-image: url("assets/full table.jpg");
    background-size: cover;
}

#promotion, #about {
    color:beige;
}

article img {
    width: 100%;
    height: auto;
}

#construction {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#construction img {
    width: 50%;
    height: auto;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    height: 2rem;
}
